{% extends 'cinema/base.html' %}
{% load static %}
{% block head %}
    {{ block.super }}
	<link rel="stylesheet" href="{% static 'css\cart.css' %}" type="text/css"/>
{% endblock %}
{% block header %}Cart{% endblock %}

{% block content %}
    <section>
        {% if cart_items %}
            <h2>Tickets in Your Cart</h2>
            <ul>
                {% for item in cart_items %}
                    <article>
                        {% if item.ticket and item.ticket.price %}
                            <li>{{ item.ticket.session.movie.title }} - Amount: {{ item.amount }}. Session: {{ item.ticket.session.start_time }}. Price: {{ item.get_price}}
                            <form action="{% url 'remove_cart_item' item.id %}" method="post" style="display:inline;" class="remove-form">
                                {% csrf_token %}
                                <span>
                                    <button type="submit" class="form-input">Remove</button>
                                </span>
                            </form>
                            </li>
                        {% endif %}
                    </article>
                {% endfor %}
            </ul>
        {% endif %}
    </section>
    {% if total_price %}
        <form action="{% url 'buy_ticket' %}" method="post" class="buy-form">
            {% csrf_token %}
            <span class="form-group">
                <p class="total">Total Price: {{ total_price }}</p>
                <p><input type="text" name="promo_code" placeholder="Enter promo code" tabindex="1"></p>
            </span>
            <button type="submit" tabindex="2" class="form-input">Buy Tickets</button>
        </form>
        {% endif %}
{% endblock %}