{% extends 'cinema/base.html' %}

{% block header %}About Company{% endblock %}

{% block content %}
    <section translate="yes">
        <section>
            <video width="1024" src="\media\videos\ad.mp4"
                    autoplay loop muted title="Ad-video">
            </video>
        </section>
        <section>
            {% for info in company_info %}
                <p>{{ info.text }}</p>
            {% endfor %}
        </section>
        <hr>
        <section style="display: flex; justify-content: center;">
            <section style="text-align: center; border: 1px solid black; height: 500px; padding-left: 10px; padding-right: 10px;">
                <hgroup>
                    <h3>Certificate</h3>
                    <h4>Online Cinema "Your Cinema"</h4>
                </hgroup>
                <p>This certificate certifies that</p>
                <p><dfn title="Cinema">Cinema</dfn> - "Your Cinema"</p>
                <p>is an official partner of the company "Belcinema"</p>
                <p>Registered by the decision of the Minsk Regional Executive Committee dated <time datetime="2023-3-3">03.03.2023</time></p>
                <p>in the Unified State Register of Legal Entities and Individual Entrepreneurs</p>
                <br>
                <section style="text-align: left;">
                    <p>Organization: Online Cinema <em>"Your Cinema"</em></p>
                    <p>Address: <em>Pushkina st. 20</em></p>
                    <p>Telephone Number: +375291111111</p>
                    <p>Email: yourcinema@gmail.com</p>
                    <p>Web-Site: <em>www.yourcinema.by</em></p>
                </section>
            </section>
        </section>
        <br>
        <section style="text-align: center;">
            <a href="\media\text\Certificate.docx" download="Certificate.docx">
                Download certificate
            </a>
        </section>
        <hr>
        <section translate="yes" title="Listing">
            <h4>Code Example</h4>
            <p>
                <code>
                    var genres = ["horror", "comedy", "adventure", "fantasy", "science-fiction", "thriller", "action", "musical"];<br>
                    print(f"I like {genres.length} genres")<br>
                </code>
            </p>
            <p>The variable in this example is <var>genres</var></p>
            <p>The output from the code is <samp>I like 8 genres</samp></p>
            <p>When prompted for my favorite movie, I typed: <kbd>Taxi</kbd></p>
        </section>
        <hr color="blue">
        <section title="Quotes">
            <h4>Quote Example</h4>
            <q cite="https://citaty.info/quote/24139">I didn't go to film school, I went to the movies.</q><br>
            <hr>
            <blockquote cite="https://citaty.info/quote/256110">
                <p>The movie itself was very interesting, but I didn't think it was very good because after it ended I didn't feel any different than before watching it.</p>
            </blockquote>
            <p>-Stephen Chbosky</p>
        </section>
        <hr color="blue">
        <section title="Verse with br tag">
            <h4>Verse Example</h4>
            <section>
                Это город. Еще рано. Полусумрак, полусвет.<br>
                А потом на крышах солнце, а на стенах еще нет.<br>
                А потом в стене внезапно загорается окно.<br>
                Возникает звук рояля. Начинается кино.<brw>
            </section>
        </section>
        <hr>
        <section title="Audio Example">
            <audio controls muted>
                <source src="\media\audio\Amy Holland-She-s On Fire.mp3">
                Audio content cannot be played
            </audio>
        </section>
    </section>
    
{% endblock %}