{% extends 'cinema/base.html' %}

{% load static %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css\cat_facts.css' %}" type="text/css"/>
{% endblock %}
{% block header %}Cat Facts{% endblock %}

{% block content %}
<section translate="yes">
    <ul>
        {% for fact in facts %}
            <article>
                <li>
                    <p>Fact: {{ fact }}</p>
                </li>
            </article>
        {% endfor %}
    </ul>
</section>
{% endblock %}