{% extends 'cinema/base.html' %}

{% load static %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css\contacts.css' %}" type="text/css"/>
{% endblock %}
{% block header %}Contacts{% endblock %}

{% block content %}
<section>
    {% for employee in all_employees %}
        <article>
            <div class="employee">
                <img class="img-empl" src="{{ employee.image.url }}" height="200">
                    <div class="employee-info">
                        <p class="employee-name">Name: {{ employee.name }}</p>
                        <p>Surname: {{ employee.surname }}</p>
                        <p>Birth Date: {{ employee.birth_date }}</p>
                        <p>Speciality: {{ employee.get_role_display }}</p>
                        <p>Email: {{ employee.email }}</p>
                        <p>Phone Number: {{ employee.phone_number }}</p>
                    </div>
            </div>
        </article>
    {% endfor %}
</section>
{% endblock %}