{% extends 'cinema/base.html' %}
{% load static %}
{% block title %}Coupons{% endblock title %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css\coupons.css' %}" type="text/css"/>
{% endblock %}
{% block header %}Coupons{% endblock %}

{% block content %}
<section>
    <h2>Valid coupons</h2>
        {% for coupon in coupons %}
            <article>
                {% if coupon.is_available %}
                    <ul class="available">
                        <li>Name: {{ coupon.name }}</li>
                        <li>Promo: {{ coupon.promo }}</li>
                        <li>Discount: {{ coupon.discount }} percent</li>
                        {% comment %} {% if request.user.client and not request.user.is_superuser %}
                            <form action="{% url 'use_coupon' pk=coupon.pk %}" method="post">
                                {% csrf_token %}
                                <button type="submit">Use Coupon</button>
                            </form>
                        {% endif %} {% endcomment %}
                    </ul>
                {% endif %}
            </article>
        {% endfor %}
</section>
<section>
    <h2>Archive</h2>
        {% for coupon in used_coupons %}
            <article>
                <ul class="archive">
                    <li>Name: {{ coupon.coupon.name }}</li>
                    <li>Discount: {{ coupon.coupon.discount }} percent</li>
                    <li>Used by: {{ coupon.user.name }} | {{ coupon.user.surname }} | {{ coupon.user.email }}</li>
                </ul>
            </article>
        {% endfor %}
</section>
{% endblock %}