{% extends 'cinema/base.html' %}
{% load static %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css\news_info.css' %}" type="text/css"/>
{% endblock %}
{% block header %}Movie: {{ news_data.title }}{% endblock %}

{% block content %}
<section class="news-container">
    <article class="news-item">
        <div class="news-content">
            <h2>{{ news_data.title }}</h2>
            <img src="{{ news_data.image.url }}" class="news-image">
            <p class="letter">{{ news_data.description }}</p>
        </div>
    </article>
</section>
{% endblock %}