{% extends 'cinema/base.html' %}
{% load static %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css\review.css' %}" type="text/css"/>
{% endblock %}
{% block header %}Reviews{% endblock %}

{% block content %}
    <section class="review-container">
    {% comment %} {% if is_auth %} {% endcomment %}
        <a href="{% url 'add_review' %}">Add Review</a>
    {% comment %} {% endif %} {% endcomment %}
    </section>
    {% for review in all_reviews %}
    <section>
        <div class="review-block">
            <section itemscope itemtype="https://schema.org/Review">
                <ul class="review-list">
                    <li class="review-item">Name: {{ review.sender.name }}</li>
                    <li class="review-item">Surname: {{ review.sender.surname }}</li>
                    <li itemprop="reviewRating" class="review-item">Rate: {{ review.rate }}</li>
                    <li class="review-item">Date: {{ review.date }}</li>
                    <li itemprop="reviewBody" class="review-item">Comment: {{ review.text }}</li>
                </ul>
            </section>
        </div>
    </section>
    {% endfor %}
{% endblock %}