.header-container {
    display: flex;
    align-items: start;
}
.header-container img {
    margin-right: 10px;
}
.nav-links {
    display: flex;
    flex-wrap: wrap;
}
.nav-links a {
    margin-right: 10px; 
}
.content-container {
    display: flex;
    margin-top: 20px;
}
.main-content {
    flex: 1;
}
aside {
width: 40%;
padding: 0.5rem;
box-shadow: inset 5px 0 5px -5px #29627e;
font-style: italic;
color: #29627e;
}
ul.nav{
            margin-left: 0px;
            padding-left: 0px;
            list-style: none;
        }
ul.nav a {
            display: block;
            width: 7em;
            padding:10px;
            background-color: #f4f4f4;
            border-top: 1px dashed #333;
            border-right: 1px dashed #333;
            border-left: 5px solid #333;
            text-decoration: none;
            color: #333;
        }
ul.nav li:last-child a {
    border-bottom: 1px dashed #333;
    }