<!-- templates/cinema/home.html -->
 {% extends 'cinema/base.html' %}
{% load static %}

{% load tz %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css\home.css' %}" type="text/css"/>
{% endblock %}
{% block header %}Home{% endblock %}

{% block content %}
<section class="home-container">
    {% if user.is_authenticated %}
        <p class="greetings">Hi {{ user.username }}!</p>
        <p>Date: {{ date }}</p>
        {% get_current_timezone as TIME_ZONE %}
        <p>User's TIMEZONE: {{ TIME_ZONE }}</p>
        <p>Last date DB: {{ date_db }}</p>
        <p class="cal"><pre>{{ cal }}</pre></p>
        <p><a href="{% url 'logout' %}" class="form-link">Logout</a></p>
    {% else %}
        <p><b>You are not logged in</b></p>
        <br>
        <a href="{% url 'login' %}" class="form-link">Login</a>
        <br>
        <a href="{% url 'register' %}" class="form-link">Register</a>
    {% endif %}
</section>
{% endblock %}
