{% extends 'cinema/base.html' %}
{% load static %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css\profile.css' %}" type="text/css"/>
{% endblock %}
{% block header %}Profile{% endblock %}
{% block content %}
<article class="profile-container"> 
    <div class="info">
        <ul>
            <li>
                <img class="ava" src="{{ profile.image.url }}" alt="Profile picture" height="200">
            </li>
            <li>
                <lable>Name:</lable>
                <lable>{{ profile.name }}</lable>
            </li>
            <li>
                <lable>Surname:</lable>
                <lable>{{ profile.surname }}</lable>
            </li>
            <li>
                <lable>Email:</lable>
                <lable>{{ profile.email }}</lable>
            </li>
            <li>
                <lable>Phone number:</lable>
                <lable>{{ profile.phone_number }}</lable>
            </li>
            <li>
                <lable>Birth date:</lable>
                <time datetime="{{ profile.birth_date }}">{{ profile.birth_date }}</time>
            </li>

        </ul>
        {% if request.user.client or request.user.employee %}
            <a href="{% url 'edit_profile' %}">Edit Profile</a>
        {% endif %}
    </div>
</article>
<section class="profile-container">
    {% if request.user.client and not request.user.is_superuser and not request.user.employee %}
        <div class="info-tickets">
            <a href="{% url 'index_information_tickets' %}">Information about purchased tickets</a>
        </div>
    {% endif %}
</section>
{% endblock content %}