{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {% block title %}<title>Your Cinema</title>{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="\media\icons\icon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css\admin\base.css' %}" type="text/css"/>
    {% endblock %}
</head>

<body>
    <section class="first-nav">
        <nav class="navMenu">
            <a href="{% url 'home' %}">Exit</a>
            <a href="{% url 'index_admin_movies' %}">List of Movies</a>
            <a href="{% url 'index_admin_tickets' %}">List of Tickets</a>
            <a href="{% url 'index_admin_sessions' %}">List of Sessions</a>
            <a href="{% url 'index_admin_halls' %}">List of Halls</a>
            <a href="{% url 'index_admin_employees' %}">List of Employees</a>
        </nav>
    </section>
    <section class="second-nav">
        <nav class="navMenu">
            <a href="{% url 'ticket_new' %}">Add Ticket</a>
            <a href="{% url 'ticket_edit' %}">Edit Ticket</a>
            <a href="{% url 'ticket_delete' %}">Delete Ticket</a>
            <a href="{% url 'movie_new' %}">Add Movie</a>
            <a href="{% url 'movie_edit' %}">Edit Movie</a>
            <a href="{% url 'movie_delete' %}">Delete Movie</a>
        </nav>
    </section>
    <section class="third-nav">
        <nav class="navMenu">
            <a href="{% url 'session_new' %}">Add Session</a>
            <a href="{% url 'session_edit' %}">Edit Session</a>
            <a href="{% url 'session_delete' %}">Delete Session</a>
            <a href="{% url 'statistics' %}">Statistics</a>
        </nav>
    </section>
    <h1>{% block header %}{% endblock header %}</h1>
    <div>{% block content %}{% endblock content %}</div>
</body>
</html>