{% extends 'cinema/admin/base_admin.html' %}

{% block header %}Statistics{% endblock %}

{% block content %}
    <section>
        <h2>Daily Sales:</h2>
        {% for sale in daily_sales %}
            <p>Date: {{ sale.day }} - Total Sales: {{ sale.total_sales|floatformat:2 }}$</p>
        {% endfor %}
    </section>
    <section>
        <h2>Sales by Session:</h2>
        {% for sale in session_sales %}
            <p>Session ID: {{ sale.ticket__session }} - Total Sales: {{ sale.total_sales|floatformat:2 }}$</p>
        {% endfor %}
    </section>
    <section>
        <h2>Sales by Movie:</h2>
        {% for sale in movie_sales %}
            <p>Movie: {{ sale.ticket__session__movie__title }} - Total Sales: {{ sale.total_sales|floatformat:2 }}$</p>
        {% endfor %}
    </section>
    <section>
        <h2>List of films in alphabetical order</h2>
        {% for movie_alpha in movies_alpha %}
            <p>Movie: {{ movie_alpha }}</p>
        {% endfor %}
    </section>
    <section>
        <h2>Total Sales</h2>
            <p>{{ total_sales }}$</p>
        <h2>Mean, mode and median by sales amount:</h2>
        <table border="1">
            <thead>
                <tr>
                    <th colspan="2">By sales amount</th>
                </tr>
                <tr>
                    <th id="metric">Metric</th>
                    <th id="value">Value</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <th headers="metric">Mean</th>
                    <td headers="value">{{ average_sales|floatformat:2 }}</td>
                </tr>
                <tr>
                    <th headers="metric">Mode</th>
                    <td headers="value">{{ mode_sales }}</td>
                </tr>
                <tr>
                    <th headers="metric">Median</th>
                    <td headers="value">{{ median_sales }}</td>
                </tr>
            </tbody>
        </table>
    </section>
    <section>
        <h2>Mean and median by client age</h2>
        <table border="1">
            <thead>
                <tr>
                    <th colspan="2">By client age</th>
                </tr>
                <tr>
                    <th id="metric">Metric</th>
                    <th id="value">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th headers="metric">Mean</th>
                    <td headers="value">{{ average_age|floatformat:2 }}</td>
                </tr>
                <tr>
                    <th headers="metric">Median</th>
                    <td headers="value">{{ median_age }}</td>
                </tr>
            </tbody>
        </table>
    </section>
    <section>
        <h2>The most popular genre</h2>
            <p>Genre: {{ popular_genre }}</p>
    </section>
    <section>
        <h2>Genre that brings in the most profit</h2>
            <p>Genre: {{ profitable_genre }}</p>
    </section>
    <figure>
        <figcaption><h2>Distribution of clients by age</h2></figcaption>
        {{ chart|safe }}
    </figure>
{% endblock %}