{% extends 'cinema/admin/base_admin.html' %}
{% load static %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css\admin\statistics.css' %}" type="text/css"/>
{% endblock %}

{% block header %}Statistics{% endblock %}

{% block content %}
    <section class="table">
        {% comment %} <h2>Daily Sales:</h2> {% endcomment %}
        <table class="daily-sales">
            <caption>Daily Sales</caption>
            <thead>
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Total Sales</th>
                </tr>
            </thead>
            <tbody>
                {% for sale in daily_sales %}
                    <tr>
                        <th>{{ forloop.counter }}</th>
                        <td>{{ sale.day }}</td>
                        <td>{{ sale.total_sales|floatformat:2 }}$</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <section class="table">
        {% comment %} <h2>Sales by Session:</h2> {% endcomment %}
        <table class="sales-session">
            <caption>Sales by Session</caption>
            <thead>
                <tr>
                    <th></th>
                    <th>Session ID</th>
                    <th>Total Sales</th>
                </tr>
            </thead>
            <tbody>
                {% for sale in session_sales %}
                    <tr>
                        <th>{{ forloop.counter }}</th>
                        <td>{{ sale.ticket__session }}</td>
                        <td>{{ sale.total_sales|floatformat:2 }}$</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <section class="table">
        {% comment %} <h2>Sales by Movie:</h2> {% endcomment %}
        <table class="sales-movie">
            <caption>Sales by Movie</caption>
            <thead>
                <tr>
                    <th></th>
                    <th>Movie</th>
                    <th>Total Sales</th>
                </tr>
            </thead>
            <tbody>
                {% for sale in movie_sales %}
                    <tr>
                        <th>{{ forloop.counter }}</th>
                        <td>{{ sale.ticket__session__movie__title }}</td>
                        <td>{{ sale.total_sales|floatformat:2 }}$</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% comment %} {% for sale in movie_sales %}
            <p>Movie: {{ sale.ticket__session__movie__title }} - Total Sales: {{ sale.total_sales|floatformat:2 }}$</p>
        {% endfor %} {% endcomment %}
    </section>
    <section>
        <h2>List of films in alphabetical order</h2>
        {% for movie_alpha in movies_alpha %}
            <ul>
            <li>Movie: {{ movie_alpha }}</li>
            </ul>
        {% endfor %}
    </section>
    <section>
        <h2>Total Sales</h2>
        <p>{{ total_sales }}$</p>
    </section>
    <section class="table">
        {% comment %} <h2>Mean, mode and median by sales amount:</h2> {% endcomment %}
        <table class="parameters-sales" border="1">
            <caption>Mean, mode and median by sales amount</caption>
            <thead>
                <tr>
                    <th colspan="2">By sales amount</th>
                </tr>
                <tr>
                    <th id="metric">Metric</th>
                    <th id="value">Value</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <th headers="metric">Mean</th>
                    <td headers="value">{{ average_sales|floatformat:2 }}</td>
                </tr>
                <tr>
                    <th headers="metric">Mode</th>
                    <td headers="value">{{ mode_sales }}</td>
                </tr>
                <tr>
                    <th headers="metric">Median</th>
                    <td headers="value">{{ median_sales }}</td>
                </tr>
            </tbody>
        </table>
    </section>
    <section class="table">
        {% comment %} <h2>Mean and median by client age</h2> {% endcomment %}
        <table class="parameters-ages" border="1">
            <caption>Mean and median by client age</caption>
            <thead>
                <tr>
                    <th colspan="2">By client age</th>
                </tr>
                <tr>
                    <th id="metric">Metric</th>
                    <th id="value">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th headers="metric">Mean</th>
                    <td headers="value">{{ average_age|floatformat:2 }}</td>
                </tr>
                <tr>
                    <th headers="metric">Median</th>
                    <td headers="value">{{ median_age }}</td>
                </tr>
            </tbody>
        </table>
    </section>
    <section>
        <h2>The most popular genre</h2>
            <p>Genre: {{ popular_genre }}</p>
    </section>
    <section>
        <h2>Genre that brings in the most profit</h2>
            <p>Genre: {{ profitable_genre }}</p>
    </section>
    <figure>
        <figcaption><h2>Distribution of clients by age</h2></figcaption>
        {{ chart|safe }}
    </figure>
{% endblock %}